[user]
	name = thassiov
	email = tvmcarvalho@gmail.com
[core]
	editor = vim
[push]
	default = matching
[pull]
	rebase = true
[alias]
	lg = log --color --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
