[user]
	name = thassiov
	email = tvmcarvalho@gmail.com
[core]
	editor = nvim
[push]
	default = matching
[pull]
	rebase = true
[alias]
	# The best log ever!!!11!
	lg = log --color --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	# Diff using github.com/so-fancy/diff-so-fancy

	# Compare local branch with remote branch
	compare-remote = diff --summary FETCH_HEAD

	# Update remote's branch list
	urbl = remote update origin --prune

	# Git Cal
	cal = !"git-cal"

	# Get the current branch name (not so useful in itself, but used in other aliases)
	branch-name = "!git rev-parse --abbrev-ref HEAD"

	# Count commits
	contar-commit = "!git rev-list --count $(git rev-parse --abbrev-ref HEAD)"

    # Week
    week-count ="!git rev-list --count HEAD --since=\"7 days ago\""

    # last-commit
    last-commit = "show --stat"
